@charset "UTF-8";
                                        body{
                                                            background-color: rgb(210, 223, 208);
                                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                        h1{
                                                            color: darkblue;
                                                            background-color: black;
                                        }
                                        h2{
                                                            color: brown;

                                        }
                                        p{
                                                            text-align: justify;
                                        }
                    