@charset "UTF-8";

/*
em HTML é id= em CSS É #
em HTML é class = em CSS é .
*/

body {
                    background-color: antiquewhite;
                    font-family: Arial, Helvetica, sans-serif;
}

h1 {
        color: chartreuse;            
}

h1#principal {
                    text-align: center;
}

h2 {
        color: darkcyan;
}

.basico {
                    text-align: center;
color: blueviolet;
}

.intermediario {
                    text-align: center;
color: darkorange;
}

.avançado {
                    text-align: center;
color: brown;
}

.destaque {
            background-color: darkgoldenrod;        
}
