@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
                    background-image: linear-gradient(to top, #4B5043, #DDE8B9, #84CAE7 );
}
main{
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 5px 5px 15px #090909;
                    width: 600px;
                    padding: 10px;
                    margin: auto;
}
h1{
  color: peru;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
h2{
color: darkcyan;
}
p{
   text-align: justify;

}